body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: green;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#main-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#top-section {
  display: flex; /* Make top-section a flex container */
}

.fruit-list-container {
  flex: 1; /* Occupy 1/3 of the available space */
  padding: 20px; /* Add some padding for spacing */
  background-color: #f2f2f2; /* Background color for styling (optional) */
}

.fruit-details-container {
  flex: 2; /* Occupy 2/3 of the available space */
  padding: 20px; /* Add some padding for spacing */
  background-color: #e0e0e0; /* Background color for styling (optional) */
}
